<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css">

<div class="container-fluid">
<div class="row" style="padding: 50px 20px;">
    <div class="col">
        <div class="card" style="box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);">
            <div class="card-header">Data Atlet</div>
            <div class="card-body">
                <table id="example" class="table table-hover table-bordered" style="width:100%;">
                    <thead class="table-secondary">
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Alamat</th>
                            <th>Kecamatan</th>
                            <th>Cabor</th>
                            <th>Tanggal Bangun</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <% if(cabor.length){ for(var i=0; i< cabor.length; i++){%>
                                <th scope="row" class="text-center"><%= (i+1)%></th>
                                <td><%=cabor[i].nama%></td>
                                <td><%=cabor[i].alamat%></td>
                                <td><%=cabor[i].kecamatan%></td>
                                <td><%=cabor[i].cabor%></td>
                                <td><%=cabor[i].tgl_bangun%></td>
                                </tr>
                        <%} }else{ %>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
    $('#example').DataTable();
});
</script>